<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- BootStrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <a th:href="@{/}">return</a>
    <div class="container mt-5">
      <form th:action="@{/add}" method="post" class="form">
        <div class="mb-3">
          <label for="firstName" class="form-label">FirstName</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            th:field="${subscriber.firstName}"
          />
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">LastName</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            th:field="${subscriber.lastName}"
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            th:field="${subscriber.email}"
          />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </body>
</html>
