<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- BootStrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Font AweSome -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body class="m-3">
    <div class="container">
      <h1>User List</h1>
      <div class="table-responsive">
        <table class="table table-hover table-striped align-middle">
          <caption summary="Subscriber List">
            Subscriber List
          </caption>
          <thead>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Info</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </thead>
          <tbody>
            <tr th:each="subscriber : ${subscribers}">
              <td th:text="${subscriber.firstName}"></td>
              <td th:text="${subscriber.lastName}"></td>
              <td>
                <button class="btn btn-success shadow-none">
                  <a
                    class="fas fa-eye link-dark text-decoration-none"
                    th:href="@{'/get/' + ${subscriber.subscriberId}}"
                  ></a>
                </button>
              </td>
              <td>
                <button class="btn btn-primary shadow-none">
                  <a
                    th:href="@{'/edit/' + ${subscriber.subscriberId}}"
                    class="fas fa-edit link-dark text-decoration-none"
                  ></a>
                </button>
              </td>
              <td>
                <button class="btn btn-danger shadow-none">
                  <a
                    th:href="@{'/delete/' + ${subscriber.subscriberId}}"
                    class="fas fa-trash-alt link-dark text-decoration-none"
                  ></a>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
    <button class="btn btn-success text-primary ">
      <a th:href="@{/new}" class="text-decoration-none link-dark fas fa-plus" ></a>
    </button>
    

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
